.custom-shape-divider-bottom-1701278838 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701278838 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1701278838 .shape-fill {
    fill: #FFFFFF;
}